// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.Newbookblock{
  margin-bottom:10px;
}
th{
  font-size:13px;
  padding:1px 1px 5px 1px;
}
td{
  font-size:13px;
  padding:1px 1px 5px 1px;
  text-align:left;
}

.errors_messages{
  width:450px;
  border:2px solid red;
  padding:7px;
  padding-bottom:0;
  margin-bottom:20px;
  background-color:grya;
}
.errors_messages h2{
  background-color:red;
  font-size:12px;
  text-align:left;
  padding:5px 5px 5px 15px;
  color:white;
  margin:-7px;
  margin-bottom:0;
}
ul{
list-style-position:inside;
font-size:12px;
margin:33px;
padding-left:40px;
}