// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.Newbookblock{
  margin-bottom:10px;
}
th{
  font-size:13px;
  padding:1px 1px 5px 1px;
}
td{
  font-size:13px;
  padding:1px 1px 5px 1px;
  text-align:left;
}